* {
  padding: 0;
  margin: 0;
}

body {
    height: 100vh;
}

main {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../images/photo.jpeg');
    background-size: cover;
    background-attachment: fixed;
}
footer {
    height: 5vh;
    background-color: black;
    color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
}

table, td, th {
    border: 1px solid black;
}
  
table {
    height: 30%;
    width: 30%;
    border-collapse: collapse;
}


h1 {
    display: flex;
    color: black;
    text-shadow: 4px 4px white; 
}

h2 {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    text-shadow: 4px 4px wheat;
    padding: 20px;
    font-family: fantasy;
}


th {
    background-color: aqua;
}

td {
    font: bold;
    text-align: center;
    background-color: cornflowerblue;
}

.barre {
    width: 150px;
    height: 22px;
}

.wrong_pass {
    padding: 20px;
    font-size: x-large;
    text-align: center;
    font-weight: bold;
}

.button {
    height: 30px;
    width: 80px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px black;
}
